*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
img{vertical-align: middle;}

#gallery{
	width: 782px;
	height: 430px;
	margin: 50px auto;
	position: relative;
}
#gallery ul{
	width: 90px;
	position: absolute;
	bottom: 20px;
	left: 40%;
	margin-left: 45px;
}
#gallery ul li{
	float: left;
	margin-right: 10px;
}
#gallery ul li:last-child{
	margin-right: 0;
}
#gallery ul li a{
	width: 10px;
	height: 10px;
	display: block;
	background-color: #999;
	border-radius: 5px;
}
#gallery ul li a.on{
	background-color: red;
}
