*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
body{
	font-family: 'NanumSquareNeo-Variable';
	font-size: 14px;
}
b{
	font-weight: normal;
}

#qna{
	width: 800px;
	margin: 100px auto;
}
#qna dl{
	background-color: #ebebeb;
	margin-bottom: 20px;
}
#qna dl dt{
	padding: 20px;
	font-size: 18px;
	font-weight: bold;
	cursor: pointer;
}
#qna dl dt span{
	width: 50px;
	height: 50px;
	background-color: purple;
	display: inline-block;
	color: white;
	line-height: 50px;
	text-align: center;
	margin-right: 20px;
	border-radius: 25px;
}
#qna dl dt.gray{
	background-color: #666;
	color: #fff;
}
#qna dl dd{
	padding: 20px;
	line-height: 20px;
	overflow: hidden;
	display: none;
}
#qna dl dd span{
	width: 50px;
	height: 50px;
	background-color: #fb1;
	display: inline-block;
	color: white;
	line-height: 50px;
	text-align: center;
	margin-right: 20px;
	border-radius: 25px;
	font-size: 18px;
	font-weight: bold;
	float: left;
}
#qna dl dd b{

}